.Login-InnerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Login-Main-Container {
  background-color: black;
}

.Left-Container {
  background-image: url("../Assets/Images/Login-Background2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40.5rem;
  margin-right: 5px;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --gradient-angle: 0deg;
  --clr-1: #052b2f;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #204e74;
}

.Driver-Button {
  position: relative;
  margin-top: 37rem;
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 12px;
  background: var(--clr-1);
  overflow: hidden;
  font-size: 1rem;
  color: white;
}

.Driver-Button::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  font-size: 15px;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotation 20s linear infinite;
  z-index: -1;
  pointer-events: none;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.Right-Container {
  background-image: url("../Assets/Images/Clients-BG2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40.5rem;
}

.Client-Button {
  position: relative;
  margin-top: 37rem;
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 12px;
  background: var(--clr-1);
  overflow: hidden;
  font-size: 1rem;
  color: white;
}

.Client-Button::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotation 20s linear infinite;
  z-index: -1;
  pointer-events: none;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
